{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Ajouter un Skill
{% endblock %}

{% block body %}
	{{form_start(form)}}
	<div class="row">
		<div class="col-6">
			{{form_label(form.name)}}
			{{form_widget(form.name)}}
		</div>
		<div class="col-6">
			{{form_label(form.type)}}
			{{form_widget(form.type,{'id':'typeField'})}}
		</div>
		<div class="col-12" id="categoryGroup">
			{{form_label(form.categories)}}
			{{form_widget(form.categories,{'id':'categoryField'})}}
		</div>
		<div class="col-12">
			{{form_label(form.description)}}
			{{form_widget(form.description)}}
		</div>
	</div>
	<div class="row mt-3">
		<div class="container">
			<button type="submit" class="btn btn-primary">{{(skill.id is defined) ? 'Update' : 'Create'}}</button>
		</div>
	</div>
	{{form_end(form)}}
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/SkillFormCategoryFieldHandler.js')}}"></script>
{% endblock %}